{%extends 'base.html'%}

{%block content%}
<div class="container">
    <h1 style="text-align:center;">Dashboards</h1>

</div>
<div class="jumbotron">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/dashboard/">1</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/dashboard1/">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>


</div>

{%endblock%}
